.login{
    background: aliceblue;
    height: 100vh;
    background-image: url(/images/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#heading{
    position: relative;
    padding: 10px;
    top: 3%;
    color:green;
    text-align: center;
   
}
.myform{   
    position: relative;
    top:10%;
    max-width: 620px;
  margin: auto;
  padding:4%;
  background: white;
  border-radius: 7px;
   
   
}
.button{
    
    box-align: center;
    color: green;
    padding-top: 5%;
    
}

.formlab{
    color: green;
}


